<?xml version="1.0"?>
<sdf version="1.7"
    xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="sphere" default="true" />
    <xacro:include filename="/home/user/dev_ws/vscode/sdf/templates/macros.xacro" />
    <xacro:include filename="/home/user/dev_ws/vscode/sdf/templates/common.xacro" />
    
    <model name="test">
        <link name="link_00">
            <visual name="visual_00">
                <geometry>
                    <xacro:if value="$(arg sphere)">
                        <sphere>
                            <radius>${PI}</radius>
                        </sphere>
                    </xacro:if>
                </geometry>
            </visual>
        </link>

    </model>
</sdf>